.search-form {
	flex: 0 1 400px;
	margin: 0 5.5% 0 0;
	&__input-inner {
		position: relative;
	}
	&__input {
		display: block;
		width: 100%;
		background-color: #fff;
		font-size: 15px;
		padding: 11px 62px 11px 12px;
		&::placeholder {
			color: #a3a3a3;
			font-size: 15px;
			line-height: 1.5;
		}
	}
	&__input-btn {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 100%;
		background: #35cf60;
		&:hover {
			background: #1f9e43fc;
		}
		svg {
			width: 17px;
			height: 17px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			fill: #fff;
		}
	}

	@media (max-width: 1220px) {
		margin: 0 20px 0 0;
	}
	@media (max-width: 992px) {
		margin: 13px 0 0;
		order: 3;
		flex: 1 1 100%;
		&__input-btn {
			right: auto;
			left: 0;
			background: transparent;
			width: 37px;
			svg {
				fill: #bababa;
			}
		}
		&__input {
			padding: 11px 10px 11px 37px;
		}
	}
	@media (max-width: 576px) {
		&__input {
			font-size: 12;
			&::placeholder {
				font-size: 12px;
			}
		}
	}
}
