.callback-header {
	display: flex;
	align-items: center;
	cursor: pointer;
	&__icon {
		margin: 0 12px 0 0;
		transition: all 0.2s;
		svg {
			width: 18px;
			height: 18px;
			fill: #000;
		}
	}
	&__tel {
		font-weight: 500;
		line-height: 1.5;
		margin-bottom: 3px;
		transition: all 0.2s;
		color: #000;

		@media (min-width: 992px) {
			&:hover {
				opacity: 0.7;
			}
		}
	}
	&__time {
		display: none;
	}
	&__text {
		color: #36dd65;
		font-size: 14px;
		line-height: 0.8;
		text-decoration: underline;
		transition: all 0.2s;
		svg {
			display: none;
		}
	}
	&:hover .callback-header__icon {
		opacity: 0.7;
	}
	&:hover .callback-header__tel {
		opacity: 0.7;
	}
	&:hover .callback-header__text {
		text-decoration: none;
	}

	@media (max-width: 992px) {
		position: relative;
		margin: 0 0 18px;
		&__icon {
			position: absolute;
			bottom: 3px;
			left: 0;

			svg {
				fill: #36dd65;
			}
		}
		&__tel {
			font-size: 14px;
			margin-bottom: 7px;
		}
		&__time {
			display: block;
			color: #b1b1b1;
			font-size: 12px;
			margin-bottom: 15px;
		}
		&__text {
			font-size: 14px;
			font-weight: 700;
			text-decoration: none;
			margin: 0 0 0 27px;
			padding: 0 0 10px 0;
			width: max-content;
			position: relative;
			svg {
				display: block;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}
