// Reset styles
$bgBase: #fff;
$colorBase: #000;
$fontSize: 16px;
$fontWeight: 400;
$titleFontWeight: 400;
$linkTransition: all 0.2s;
//
$darkColor: #272557;
$greyColor: #9e9e9e;
// Width
$width1220: 'max-width: 1220px';
$width991: 'max-width: 991px';
$width767: 'max-width: 767px';
$width575: 'max-width: 575px';
$width375: 'max-width: 375px';
