.overview-product {
	padding: 0 0 100px;
	&__row {
		display: grid;
		gap: 0 10%;
		grid-template-columns: minmax(0px, 532px) minmax(0px, 632px);
		grid-template-rows: repeat(6, auto);
		justify-content: space-between;
	}

	&__title {
		order: 2;

		color: #19191d;
		font-size: 26px;
		font-weight: 500;
		line-height: 1.5;
		letter-spacing: 0.52px;
		margin-bottom: 11px;

		span {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
			overflow: hidden;
		}
	}

	&__images {
		order: 1;
		grid-row: span 6;
	}

	&__codes {
		order: 3;
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		margin: 0 -10px;
	}

	&__info {
		order: 4;
		grid-column: 2 / span 1;
	}

	&__image-slide {
		padding: 0 0 82%;
	}

	&__image {
		object-fit: contain;
		width: 100%;
		height: 100%;
		position: absolute;
	}

	&__code {
		display: flex;
		font-size: 20px;
		line-height: 1.5;
		white-space: nowrap;
		padding: 0 10px;
		flex-shrink: 0;

		&-title {
			display: inline-block;
			margin: 0 4px 0 0;
			font-weight: 500;
		}
	}

	&__status {
		width: 100%;
		margin: 27px 10px 25px;

		& .item-catalog__status {
			display: flex;
			align-items: center;
			padding: 10px 27px;
			border-radius: 6px;
			width: max-content;

			&_sale {
				background-color: #d9ffe2;
			}
			&_ends {
				background-color: #f1e9dc;
			}
			&_ended {
				background-color: #f0cccc;
			}
		}

		& .item-catalog__status-icon {
			margin: 0 13px 0 0;
		}
	}
	@media (max-width: 1220px) {
		&__row {
			gap: 0 40px;
			grid-template-columns: minmax(0px, 300px) minmax(0px, 900px);
		}
	}
	@media (max-width: 992px) {
		&__title {
			font-size: 20px;
			font-weight: 400;
		}
		&__status {
			order: -1;
			margin: 5px 10px 16px;

			& .item-catalog__status {
				padding: 6px 17px;
				&-text {
					font-size: 14px;
				}
			}
		}
		&__codes {
			margin-bottom: 35px;
		}
		&__code {
			font-size: 16px;
		}
	}

	@media (max-width: 768px) {
		padding: 0 0 40px;
		&__row {
			gap: 0 30px;
			grid-template-columns: minmax(0px, 200px) minmax(0px, 900px);
		}
		&__title {
			font-size: 16px;
		}

		&__code {
			font-size: 12px;
		}
		&__codes {
			margin-bottom: 20px;
		}
		&__status {
			& .item-catalog__status {
				&-text {
					font-size: 12px;
				}
			}
		}

		&__info {
			& .item-catalog__info-item {
				font-size: 14px;
				margin-bottom: 5px;
			}
		}
	}

	@media (max-width: 576px) {
		&__row {
			gap: 0 10px;
			grid-template-columns: minmax(0px, 200px) minmax(0px, 900px);
		}
		&__title {
			order: 1;
			grid-column: span 2;
		}

		&__images {
			order: 2;
			grid-row: span 4;
		}

		&__info {
			grid-column: span 2;
		}

		&__code {
			display: flex;
			flex-wrap: wrap;
			white-space: wrap;
			flex-shrink: 1;

			&-title {
				flex-shrink: 0;
			}
		}

		&__status {
			& .item-catalog__status {
				padding: 10px;
				&-icon {
					width: 18px;
					height: 18px;
				}
				&-text {
					font-size: 12px;
				}
			}
		}
	}
}
