.contacts {
	padding: 0 0 80px;
	&__text {
		font-size: 18px;
		line-height: 1.66;
		margin: 5px 0 27px;
		
	}
	&__body {
		display: grid;
		grid-template-columns: 369px 1fr;
		align-items: start;
		gap: 42px;
	}
	@media (max-width: 992px) {
		&__body {
			grid-template-columns: 280px 1fr;
			gap: 20px;
		}
	}
	@media (max-width: 767px) {
		&__text {
			font-size: 15px;
			margin-bottom: 15px;
		}
		&__body {
			grid-template-columns: 1fr;
		}
	}
}