.sort-items {
	display: flex;
	align-items: center;
	&__label,
	&__current {
		color: #1d1f22;
		line-height: 1.2;
	}
	&__select {
		position: relative;
		padding: 10px 0 10px 8px;
		cursor: pointer;
		width: 130px;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 40%;
			transform: translateY(-50%) rotate(45deg);
			border: 2px solid #1d1f22;
			border-width: 0 2px 2px 0;
			transition: transform 0.2s ease;
			display: block;
			width: 7px;
			height: 7px;
			pointer-events: none;
		}
	}
	&__current {
		font-weight: 500;
		padding: 0 22px 0 0;
	}
	&__list {
		box-shadow: 0 0 5px grey;
		border-radius: 4px;
		background: #fff;
		position: absolute;
		top: calc(100% - 1px);
		left: 50%;
		transform: translateX(-50%);
		min-width: 100%;
		display: none;
		pointer-events: none;
		overflow: hidden;
		z-index: 1;
	}
	&__item {
		font-size: 14px;
		color: #3f3f3f;
		border-bottom: 1px solid rgba(169, 169, 169, 0.2);
		padding: 10px;
		line-height: 1.2;
		white-space: nowrap;
		&:last-child {
			border: 0;
		}
		&:hover {
			background: rgba(157, 157, 157, 0.1);
		}
		&.selected {
			background: #30d25e;
			color: #fff;
			font-weight: 500;
			border: 0;
			pointer-events: none;
		}
	}
	&.open {
		& .sort-items__list {
			display: block;
			pointer-events: all;
		}
		& .sort-items__select::after {
			transform: rotate(225deg);
		}
	}

	@media (max-width: 992px) {
		&__label {
			display: none;
			padding: 10px 7px 10px 7px;
		}
		&__select {
			border-radius: 4px;
			border: 1px solid #787885;
			&::after {
				top: 45%;
				right: 7px;
			}
		}
		&__current {
			color: #787885;
			font-size: 12px;
		}
	}
}
