.cart {
	padding: 0 0 100px;
	position: relative;
	&__title {
		margin-bottom: 31px !important;
	}
	&__row {
		display: grid;
		grid-template-columns: 1fr 356px;
		align-items: start;
		gap: 32px 36px;
	}
	&__button-wrap {
		grid-column: span 2;
	}
	&__table-header,
	&__table-list .item-cart {
		display: flex;
		align-items: flex-start;
	}
	&__table-list {
		border: 1px solid #cacdd8;
		border-width: 1px 0;
	}
	&__table-header {
		padding-bottom: 14px;
	}
	&__table-title {
		font-size: 16px;
		font-weight: 700;
		&_product {
			width: 53%;
		}
		&_qty {
			width: 24%;
			min-width: 111px;
		}
		&_price {
			width: 23%;
		}
	}
	@media (max-width: 1220px) {
		&__table-header {
			display: none;
		}
	}
	@media (max-width: 1070px) {
		&__table-title {
			&_price {
				padding: 0 0 0 40px;
			}
		}
	}
	@media (max-width: 767px) {
		padding: 0px;
		&__title {
			margin-bottom: 20px !important;
		}
		&__row {
			display: block;
		}
		&__table-list {
			border-width: 0 0 1px;
		}
		&__table {
			margin-bottom: 15px;
		}
		&__button-wrap {
			margin: 36px 0;
		}
		&__btn {
			margin: 0 auto;
		}
	}
	@media (max-width: 576px) {
	}
}

.empty-cart {
	height: 100%;
	height: 500px;
	&__body {
		position: relative;
		z-index: 1;
	}
	&__text {
		color: #363636;
		font-size: 18px;
		margin-bottom: 21px;
		font-weight: 500;
	}
	&__btn {
		text-transform: uppercase;
		font-weight: 900;
		line-height: 2;
	}
	&__image-wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 1px solid #ececec;
		border-radius: 50%;
		width: 475px;
		height: 475px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 0 0 20px;
	}
	@media (max-width: 992px) {
		&__image-wrap {
			width: 275px;
			height: 275px;
		}
		&__image {
			width: 150px;
		}
	}
	@media (max-width: 767px) {
		&__text {
			font-size: 14px;
		}
		&__image-wrap {
			width: 222px;
			height: 222px;
		}
		&__image {
			width: 112px;
		}
		&__btn {
			font-size: 14px;
			line-height: 1.6;
		}
	}
}
