

.dev-select {
}
.prefix-dev-select {
	&__indicator-separator {
		display: none;
	}
	&__option,
	&__control {
		cursor: pointer !important;
	}
	&__control {
		border-width: 0 !important;
		border-radius: 4px !important;
		background: #f4f4f4 !important;
	}
	&__input {
		color: #787885 !important;
		font-size: 14px !important;
		letter-spacing: 0.44px !important;
	}
}
